.contact .content-wrap{padding:40px 50px;border: 1px solid black; background: linear-gradient(75deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 50%, transparent 50%),url(../../assets/img/contact.jpg)center no-repeat; background-size:cover ;border-radius:20px;}

.contact .title{font-size: 6.4rem;line-height: 1.2; font-weight: 700;margin-bottom: 20px;}
.contact .desc{font-size: 3.2rem; line-height: 1.2;font-weight: 300;margin-bottom: 20px;}

.contact .form-wrap{max-width: 40%;}
.contact .field-wrap{display: flex; flex-direction: column;}
.contact .field-wrap:not(:last-child){margin-bottom: 30px;}
.contact .field-wrap label{font-size: 1.8rem; line-height: 1.4;font-weight:300;margin-bottom: 5px;}
.contact .field-wrap input{padding: 10px;font-size: 1.8rem; line-height: 1.4;color: #2a2a2a;border-radius:10px;}
.contact .field-wrap textarea{min-height:200px;padding: 10px; resize: none;font-size: 1.8rem; line-height: 1.4;color: #2a2a2a;border-radius:10px;}
.contact .submit-btn{padding: 10px; border-radius:20px;}